<section data-ng-controller="PurchasingsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Purchasings</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="purchasing in purchasings" data-ng-href="#!/purchasings/{{purchasing._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="purchasing.created | date:'medium'"></span>
				by
				<span data-ng-bind="purchasing.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="purchasing.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!purchasings.$resolved || purchasings.length">
    	No Purchasings yet, why don't you <a href="/#!/purchasings/create">create one</a>?
    </div>
</section>